html,body {
  width:100%;
  height:100%;
  font-family: sans-serif;
}

h1 {
  background-color: #1692ff;
  color:#fff;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  border-bottom: 1px solid grey;
  padding:0.5rem 0;
}

button {
  border-radius: 0.3rem;
  border:none;
  background-color: #ff6161;
  color:white;
  cursor:pointer;
}

button.right {
  float:right;
}

button.complete {
  background-color:#8bc34a;
  float:left;
}

input[type="submit"] {
  border-radius: 0.3rem;
  border:1px solid #1692ff;
  background-color: #1692ff;
  color:white;
  cursor:pointer;
}

.list-container {
  border: 3px #1692ff solid;
  margin:2rem auto;
  width:90%;
  max-width:450px;
}

.list-items {
  padding:0.5rem;
}